.review p {
  width: 80%;
  background-color: #f4f4ec;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}
